<div class="card">
  
  <div class="card-header  ">
    <h4 class="card-title"> {{'Base::Contactenos:Titulo' | abpLocalization}}</h4> 
</div>

  
  <div class="card-body"> 
    <p>El Ministerio de Relaciones Exteriores y Movilidad Humana del Ecuador, brinda las siguientes opciones para los ciudadanos que necesitan orientación, sobre los servicios consulares:
    </p>
    
    <div>
      <div class="row mb-3">  

        <div class="col-1">
          <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
        </div>
        <div class="col">
          <h5>Consulados del Ecuador</h5>
          <a href="https://www.cancilleria.gob.ec/representaciones-en-el-exterior/" target="_blank"> 
            <p>Contacte a su Consulado más cercano</p>
          </a>
        </div>
      </div>
      <div class="row mb-3">

        <div class="col-1"><i class="fa fa-phone-square fa-4x" aria-hidden="true"></i></div>
        <div class="col"><h5>Llamada a Ecuador</h5> 
          <p>Consultas por medio de una llamada telefónica a Ecuador, en horario de atención de lunes a viernes de 08h30 a 17h00 (horario de Ecuador)
            Desde el resto del mundo a través del (593 2) 3933520 </p></div> 
      </div>
    </div> 

  </div>

</div>